/*
#f9a91a---> laboratoria
#f5f5f0--->color de fondo
#e0e0d1--->color de hover
#333--> color de active
font-family -->sans-serif
*/

body{
  font-family: sans-serif;
}
nav{
  outline: 1px solid red;
  width: 300px;
  height: 100px;
}
ul{
  list-style: none;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
li{
   background: #323336;
display: inline;
}
